.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading{
    display: block;
    background-color: rgb(156, 220, 220);
    color: black;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    padding: 24px;
    margin: 0 auto;
    margin-bottom: 8px;
}