.body{
    font-family: 'Times New Roman', Times, serif;
}

.div{
    display: block;
    background-color: rgb(156, 220, 220);
    color: black;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    padding: 24px;
    margin: 0 auto;
    margin-bottom: 8px;
}