.body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading{
    display: block;
    background-color: rgb(156, 220, 220);
    color: black;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    padding: 24px;
    margin: 0 auto;
    margin-bottom: 8px;
    border: rgb(156, 220, 220);
}

ul{
    text-align: center;
    padding: 0;
}

li{
  display: inline-block;
  border: 4px solid orange;
  color: black;
  text-align: center;
  font-size: 24px;
  padding: 24px 32px;
  color: black;
  font-weight: bold;
  margin: 16px;
}

li a{
    text-decoration: none;
    color: black;
}